* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #ffffff 0%, #969696 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
